<br />
<footer>
  <nav>
    <a href="/terms">Terms</a>
    &middot;
    <a href="/privacy">Privacy</a>
    &middot;
    <a href="https://github.com/vasanthv/ahey" target="_blank">GitHub</a>
    &middot;
    <a href="mailto:hello@ahey.net">hello@ahey.net</a>
  </nav>
</footer>