<!DOCTYPE html>
<html lang="en">
<%- include('head'); -%>

<body>
  <div class="wrap">
    <%- include('header'); -%>
    <h1>Privacy policy</h1>


    <section>

      <p>We limit ourselves to storing the smallest amount of user data that we need in order to create a seamless experience when using Ahey. This data includes IP addresses and basic connection information needed for peer-to-peer video calls. We do not record, store, or monitor the content of your calls.</p>

      <p>We do not use cookies or tracking technologies. If Ahey is embedded on another website, that website's privacy policy applies.</p>

      <p>Users are fully responsible for whatever they say and do during calls and might be held accountable for any illegal activity or harassment. All conversation and data belongs to you. Since Ahey does not store call content, there is nothing to delete on our servers.</p>

      <p>The authors of Ahey have no intention of using personally or selling any of the above-mentioned data. In exceptional cases when we are contacted by authorities we will provide the data we have in order to help with the investigation process.</p>

    </section>

    <hr />

    <p><em>Privacy first. Always.</em></p>
    <%- include('footer'); -%>
  </div>
</body>

</html>